.peppermint {
	text-align: center;
}

.peppermint figure img {
	max-width: 94%;
	max-height: 400px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.peppermint figure figcaption {
	font-style: italic;
	color: #787575;
	font-size: 0.8em;
	margin-top: 0.5em;
}

.peppermint.active nav {
	margin-top: 1em;
	padding: 0.1em 0;
}

/* bullets */
.peppermint.active > nav > button {
	display: inline-block;
	cursor: pointer;
	margin-right: 0.5em;
	margin-left: 0.5em;
	padding: 0;
	width: 0.8em;
	height: 0.8em;
	border-radius: 0.8em;
	border: 1px solid #9b9890;
}

.peppermint.active > nav > button.active {
	background: #9b9890;
}