.peppermint {
	text-align: center;
}

.peppermint figure {
	margin: 0 0 1.5em 0;
}

.peppermint figure img {
	vertical-align: top;
	max-width: 94%;
	max-height: 400px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.peppermint figure figcaption {
	font-style: italic;
	color: #787575;
	font-size: 0.8em;
	margin-top: 0.5em;
}

.peppermint.active {
	margin-bottom: 1.5em;
}

.peppermint.active .slides {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* bullets */
.peppermint.active nav {
	margin-top: 0.6em;
}

.peppermint.active > nav > span {
	display: inline-block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.peppermint.active > nav > span > span {
	display: inline-block;
	padding: 0;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 1px solid #9b9890;
	background: transparent;
}

.peppermint.active > nav > span.active > span {
	background: #9b9890;
}

.peppermint.active > nav > span:active {
	outline: none;
}